language: python

dist: xenial

python:
    - "3.5"
    - "3.6"
    - "3.7"

before_install:
    - pip install --upgrade pip
    - pip install poetry

install:
    - poetry install

script:
    - poetry run flake8
    - poetry run mypy streaming_form_data/
    - poetry run py.test tests/
