name: build

on:
  push:
    tags:
      - 'v*'

jobs:
  build_source:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
    
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
   
      - name: Install Poetry
        uses: abatilo/actions-poetry@v3.0.1

      - name: Build source distribution
        run: poetry build --format sdist

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: ./dist/*.tar.gz

  build_wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
    
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: abatilo/actions-poetry@v3.0.1

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21.3
        with:
          output-dir: dist
        env:
          CIBW_BUILD: cp39-* cp310-* cp311-*  cp312-* cp313-*

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-wheels-${{ matrix.os }}
          path: ./dist/*.whl

  publish:
    runs-on: ubuntu-latest
    needs: [build_source, build_wheels]
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: artifact-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          verbose: true
